<!DOCTYPE html>

<head>
	<title>IIT BBS FORUMS</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<style>
	body {
		font-family: "Poppins", sans-serif;
		background-color: #F2F3F5;
		min-height: 100vh;
		display: grid;
		place-items: center;
		padding: 80px 20px;
	}

	* {
		box-sizing: border-box;
	}

	.signup {
		padding: 80px 60px;
		background-color: white;
		border-radius: 30px;
		width: 100%;
		max-width: 480px;
	}

	.signup-heading {
		text-align: center;
		font-weight: 400;
		color: #363A40;
		font-size: 25px;
		margin-bottom: 35px;
	}

	.signup-google {
		display: flex;
		align-items: center;
		width: 100%;
		border-radius: 16px;
		background-color: #4C6EF4;
		text-decoration: none;
		padding: 8px;
		margin-bottom: 45px;
		box-shadow: 0 10px 20px -5px rgba(76, 110, 244, 0.9);
	}

	.signup-google-icon {
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ff7870;
		border-radius: 10px;
		background-color: white;
		font-size: 25px;
	}

	.signup-google-text {
		color: white;
		font-weight: 500;
		display: block;
		margin: 0 auto;
	}



	@media screen and (max-width: 767px) {
		.signup {
			padding: 30px 20px;
		}
	}
</style>

<body>
	<div class="signup">

		<h1 class="signup-heading">Welcome to IIT BBS Forums</h1>
		<a href="/auth/google" class="signup-google">
			<i class="fab fa-google signup-google-icon"></i>
			<span class="signup-google-text">Sign up with Google</span>
		</a>
</body>

</html>